
    body {
        font-family: Arial, sans-serif;
        background-color: #b4962f;
        padding: 20px;
    }
    h1 {
        color: #333;
    }
    p {
        color: #666;
        font-size: 18px;
    }
    